@font-face {
    font-family: Gothan-Bold;
    src: url(../fonts/Gotham-Bold.WOFF);
}

@font-face {
    font-family: Gothan-Book;
    src: url(../fonts/Gotham-Book.WOFF);
}

@font-face {
    font-family: Gothan-Book-Italic;
    src: url(../fonts/Gotham-BookItalic.WOFF);
}

@font-face {
    font-family: Gothan-Light;
    src: url(../fonts/Gotham-Light.WOFF);
}

h2{
	font-family:Gothan-Bold;
	font-size: 40px;
}


h3{
	font-family: Gothan-Bold;
	font-size: 32px;
}

h4{
	font-size: 28px;
	font-family: Gothan-Bold;
}

p{
	font-family: Gothan-Book;
	font-size: 14px;
	line-height: 25px;
}

