.regresar{
	background-color: #EA3800;
	position: fixed;
	width: 85px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	height: 35px;
	align-items: center;
	justify-content: center;
	margin-left: 37px;
	margin-top: 34px;
}

.regresar a{
	font-family: Gothan-Bold;
	font-size: 12px;
	color: #fff;
	text-decoration: none;
}

/******************/

.menu-der{
	background-color: #fff;
	position: fixed;
	right: 0;
	width: auto;
	top: calc(50vh - 73px);
}

.menu-der a{
	width: 48px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 48px;
}

.menu-der a img{
	width: 40%;
}


/**************************************/




.edificio-cuerpo{
	background-color: #F4F4F4;
}

.img-detalle-edificio{
	margin-top: 103px;
}

.text-about-edificio{
	background-color: #fff;
	height: auto;
	margin-top: -85px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0px 10px 50px rgba(0,0,0,0.16);
	margin-bottom: 170px;
}

.text-about-edificio>div{
	margin-top: 40px;
	width: 88%;	
	margin-bottom: 40px;

}

.detalle-edificio h4{
	color: #414241;
	margin-bottom: 50px;
}

.img01, .img02, .img03, .img04, .img05{
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;	
	margin-bottom: 30px;
}

.img01{
	background-image: url(../img/av-del-sur/img01.jpg);
	height: 440px;
}

.img02{
	background-image: url(../img/av-del-sur/img02.jpg);
	height: 440px;
}

.img03{
	background-image: url(../img/av-del-sur/img03.jpg);
	height: 219px;
}

.img04{
	background-image: url(../img/av-del-sur/img04.jpg);
	height: 219px;
}

.img05{
	background-image: url(../img/av-del-sur/img05.jpg);
	height: 219px;
}


.mapa{
	background-color: red;
	height: 544px;
	margin-bottom: 130px;
}

.gps{
	margin-top: 200px;
}

.text-direccion{
	height: auto;
	background-color: #fff;
	box-shadow: 0px 10px 50px rgba(0,0,0,0.16);
	margin-top: -520px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 10px;
}



.title-dato{
	font-family: Gothan-Bold;
	font-size: 17px;
	margin-bottom: 24px;
	margin-top: 40px;
}

.des-dato,.title-dato{
	color: #414241;
}


.des-dato{
	margin-bottom: 40px;
}



































