.menu{
	position: fixed;
	height: auto;
	z-index: 9999999;
	transition:0.5s
}

.menu-prueba{
	background-color: #EA3800;
}


.nav li{
	list-style: none;
	float: left;
	margin-left: 50px;
}

ul li a{
	color: #fff;
	text-decoration: none;
	font-family: Gothan-Book;
	font-size: 14px;
}

ul li a:hover{
	color: rgba(255,255,255,0.5);
	text-decoration: none;
}

ul{
	align-items: center;
	justify-content: flex-end;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.logo{
	margin-top: 20px;
	margin-bottom: 20px;
}

.active>a{
	color:rgba(255,255,255,0.5);
}


.scrollblock{
	position: relative !important;
	top: 0 !important;
}


/*LAODER*/

body{
	overflow: hidden;
}

#loader{
	display: block;
	width: 100%;
	height: 100vh;
	position: fixed;
	z-index: 9999999999;
	background-color: #fff;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}


.navbar-brand > img {
	width: 50px;
}


.navbar-light .navbar-toggler-icon {
    background-image: url(../img/menu.svg);
}
.navbar-light .navbar-toggler {
    border-color: rgba(255,255,255,.1);
}

