/*@import url(bootstrap-grid.css);*/
@import url(bootstrap.min.css);
@import url(assets.css);
@import url(menu.css);
@import url(edificio.css);
@import url(slider.css);

*{
	padding: 0;
	margin: 0;
}

.cover{
	background-image: url(../img/home.jpg);
	width: 100%;
	height: 100vh;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
}

.nosotros{
	background-color: #F4F4F4;
	height: auto;
}

.img-nosotros{
	margin-top: 85px;
}

.textNosotros{
	background-color: #fff;
	position: relative;
	margin-top: -215px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 135px;
	box-shadow: 0px 10px 50px rgba(0,0,0,0.16);
}

.textNosotros>div{
	width: 87%;
	margin-top: 48px;
	margin-bottom: 48px;
}

.textNosotros>div h3{
	margin-bottom: 40px;
}
.textNosotros>div h3, .textNosotros>div p{
	color: #414241;
}


.datos-historicos{
	margin-bottom: 92px;
	text-align: center;
	color: #414241
}

.dato{
	font-family: Gothan-Bold;
	font-size: 54px;
}
.descripcion{
	font-family: Gothan-Book;
	font-size: 16px;
}

/* DESCRIPCION */ 

.edificio{
	height: auto;
	background-color: #fff;
}

.av-del-sur, .basadre, .lithos{
	height: 100vh;
	width: 100%;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	background-image: url(../img/av-de-sur.jpg);
}

.av-del-sur{
	background-image: url(../img/av-de-sur.jpg);
}

.basadre{
	background-image: url(../img/edificio-basadre.jpg);
}

.lithos{
	background-image: url(../img/lithos.jpg);
}


.detalles-edificio{
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.detalles-edificio>div{
	width: 70%;
}


.detalles-edificio>div h2{
	margin-bottom: 25px;
}

.detalles-edificio>div>a{
	width: 100%;
	font-family: Gothan-Bold;
	font-size: 12px;
	text-decoration: none;
	display: block;
	text-align: right;
	color: #EA3800
}

.ver{
	position: relative;
	margin-bottom: 43px;
}

.ver::after{
    content: url(../img/ico-arrow-ingresar.png);
    position: absolute;
    top: 3px;
    margin-left: 10px;
}

.call-action{
	width: 100%;
	height: auto;
	margin-top: 83px;
}

.call-action div a{
	text-align: center;
	text-decoration: none;
	font-family: Gothan-Bold;
	font-size: 12px;
	color: #414241;
}



.call-action div a div{
	width: 70%;
}
.call-action div a img{
	height: 20px;
	display: block;
	margin: 0 auto 17px;
}

.testimonios{
	height: auto;
}
.testimonios h3{
	margin-top: 157px;
	margin-bottom: 110px;
}

.testimonios p{
	font-size: 12px;
	color: #414241;
	margin-bottom: 52px;
}

.usuario-testimonio img{
	float: left;
}

.usuario-testimonio div span{
	width: 100%;
	display: block;
}
.usuario-testimonio div{
	margin-left: 30px;
}

.nombre{
	font-size: 14px;
	font-family: Gothan-Bold;
	color: #414241;
}

.cargo{
	font-size: 14px;
	font-family: Gothan-Book;
}


.usuario-testimonio{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;

}

.contTestimonio{
	margin-bottom: 210px;
}

.contacto{
	background-color: #414241;
}

.contacto h3{
	color: #Fff;
	margin-top: 110px;
	margin-bottom: 65px;
}

.contacto p{
	color: #Fff;
}

.detalle-contacto{
	font-family: Gothan-Bold !important;
	color: rgba(255,255,255,0.5) !important;
}

form{
	margin-top: 65px;
	margin-bottom: 65px;
}


select{
	color: #fff;
	height: 53px;
	background-color: #414241;
	border: none;
	border-bottom: 1px solid #fff;
	-webkit-appearance: none;
  	-webkit-border-radius: 0px;
	border-radius: 0px !important;
	appearance: none;
	font-size: 14px;
	margin-bottom: 24px;
	font-family: Gothan-Book;
	width: 100%;
}



input{
	color: #fff;
	height: 53px;
	background-color: #414241;	
	border: none;
	border-bottom: 1px solid #fff;
	font-size: 14px;
	font-family: Gothan-Book;
	margin-bottom: 24px;
	width: 100%;
}

textarea{
	color: #fff;
	height: 80px;
	background-color: #414241;	
	border: none;
	border-bottom: 1px solid #fff;
	font-size: 14px;
	font-family: Gothan-Book;
	margin-bottom: 24px;
	margin-top: 10px;
	width: 100%;	
}


.enviar-formulario{
	background-color: #EA3800;
	border: none;
}



/******* FOCUS INPUT *******/

select:focus, input:focus, textarea:focus{
	outline:0px;
}


.ver{
	position: relative;
}

.ver div{
	background-color: #EA3800;
    width:0;
    height: 3px;
    display: block;
    position: absolute;
    margin-top: 5px;
    right: 0;
    transition: all 0.5s;
}

.ver:hover div
{
	width: 85px;
}

.call-action a{
	transition: all 0.5s;
}


.call-action a:hover{
	color: #EA3800
}


































